# Ignore node_modules directory
node_modules/

# Ignore logs
logs/

# Ignore build artifacts
dist/
build/

# Ignore environment variables
.env

# Ignore npm debug log
npm-debug.log*

# Ignore yarn debug log
yarn-debug.log*
yarn-error.log*

# Ignore VS Code settings
.vscode/

# Ignore IDE-specific files
.idea/
*.iml
*.ipr
*.iws

# Ignore macOS specific files
.DS_Store

# Ignore Windows specific files
Thumbs.db
